{% load jmbo_template_tags %}

<div class="object-detail-inclusion {{ object.class_name.lower }}-detail-inclusion">
    {% block content %}
	<a> Text Yay?-1 </a>
        {% jmbocache 1200 'object-detail-inclusion' object.id object.modified %}
            {% if object.image %}
                <img src="{{ object.image_detail_url }}" />
                {% if object.image_attribution %}
                    <div class="attribution">{{ object.image_attribution }}</div>
		            <a> Text Yay? </a>
                {% endif %}
		        <a> Text Yay?2 </a>
            {% endif %}
            {% if object.description %}
                <div class="description">
		        <a> Text Yay?3 </a>
                    {{ object.description|linebreaks }}
                </div>
            {% endif %}
        {% endjmbocache %}
    {% endblock %}
    <div class="clear"></div>
	<a> Text Yay?4 </a>
</div>
